{% extends "main/main.html" %}
{% load selections %}
{% load static %}
{% load humanize %}
{% load tz %}

{% block page_title %}
    {{ title }}
{% endblock %}
{% block content %}
    <div class="blog-content" style="padding-top: 30px">
        <div class="grid-col-1 blog-page-widgets-sides">
            {% include 'blocks/about_me_sidebar.html' %}
            <div style="padding-top: 30px">
                {% include 'blocks/soft_recommendation.html' %}
            </div>
            <div style="padding-top: 30px">
                {% include 'blocks/py_lib_recommendation.html' %}
            </div>
        </div>
        <div class="grid-col-center blog-post-column">
            <div class="paginator-any">{% include 'utils/pagination.html' %}</div>
            {% for post in object_list %}
                <div style="padding-bottom: 30px;">
                    <div class="card" style="max-width: 70rem">
                        <div class="card-header">
                            {{ post.title }}
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ post.subtitle }}</h5>
                            <p class="card-text">
                                {% comment %}
                                It's now showing HTML tags, later rethink
                                https://docs.djangoproject.com/en/5.0/ref/templates/builtins/#truncatechars-html
                                {% endcomment %}
                                {{ post.body|safe|truncatewords_html:150 }}
{#                                {{ post.meta_description }}#}
                            </p>
                            <a href="{% url 'post' post.slug %}" class="btn btn-sm btn-primary">Read...</a>
                        </div>
                        <div class="card-footer text-muted">
                            <span title="Author">By: {{ object.author.first_name }}</span>
                            <span title="raw time: {{ post.date_created }}">Posted: {{ post.date_created|timezone:"Europe/Kyiv"|date:'N d (D) H:i'|naturaltime }}</span>
                            {% if post.tags.all %}
                                {% for tag in post.tags.all %}
                                    <a title="{{ tag.description }}" href="{% url 'blog' %}?tag={{ tag.name }}"><span class="badge bg-secondary">{{ tag.name }}</span></a>
                                {% endfor %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}
            <div class="paginator-any">{% include 'utils/pagination.html' %}</div>
        </div>
        {% comment %}
        Add current amount of topics:
        https://getbootstrap.com/docs/5.2/components/list-group/
        {% endcomment %}
        <div class="grid-col-2 blog-page-widgets-sides">
            {% include 'blocks/tags_sidebar.html' %}
        </div>
    </div>
{% endblock %}
