{% extends "main/main.html" %}
{% load static %}
{% load humanize %}
{% load tz %}
{% load selections %}

{% block page_title %}
    {{ title }}
{% endblock %}
{% block content %}
    <div class="row" style="padding-top: 10px">
        <div class="col">
            {% include 'blocks/about_me_sidebar.html' %}
            <div style="padding-top: 30px">
                {% include 'blocks/soft_recommendation.html' %}
            </div>
            <div style="padding-top: 30px">
                {% include 'blocks/py_lib_recommendation.html' %}
            </div>
        </div>
        <div class="col col-8">
            <div class="card border-light" style="max-width: 70rem;">
                <div class="card-header">
                    <h3>{{ object.title }}</h3>
                </div>
                <div class="card-body">
                    <h6 class="card-title">{{ object.subtitle }}</h6>
                    <p class="card-text">
                        {{ object.body|safe }}
                    </p>
                    {% if user.is_staff %}
                        <div>
                            <a class="btn btn-warning" href="{% url 'admin:index' %}blog/post/{{ object.id }}/change">Edit</a>
                        </div>
                    {% endif %}
                    <div class="blockquote-footer text-muted text-sm-end">
                        <span title="raw time: {{ object.date_modified }}"> Modified: {{ object.date_modified|timezone:"Europe/Kyiv"|date:'Y N d (D) H:i'|naturaltime }}</span>
                    </div>
                </div>
                <div class="card-footer text-muted d-flex justify-content-between">
                    <div class="text-right">
                        <span class="badge bg-dark">{{ object.author.first_name }}</span>
                        <span title="raw time: {{ object.publish_date }}"
                              class="badge bg-light text-dark">{{ object.publish_date|timezone:"Europe/Kyiv"|date:'Y N d (D) H:i'|naturaltime }}</span>
                        {% if object.tags.all %}
                            {% for tag in object.tags.all %}
                                <a title="{{ tag.description }}" href="{% url 'blog' %}?tag={{ tag.name }}"><span class="badge bg-secondary">{{ tag.name }}</span></a>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="text-left">
                        {% if object.hits_rel_post %}
                            <a title="Hits or unique visitors"><span class="badge bg-secondary">{{ object.hits_rel_post.hits }}</span></a>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="discuss-comments" style="padding-top: 30px;padding-bottom: 50px">
                <div id="disqus_thread"></div>
                <script>
                    /**
                     *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
                     *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
                    /*
                    */
                    var disqus_config = function () {
                        this.page.url = {{ object.get_absolute_url }};
                        this.page.identifier = {{ object.slug }};
                        this.page.title = {{ object.title }};
                    };
                    (function () { // DON'T EDIT BELOW THIS LINE
                        var d = document, s = d.createElement('script');
                        s.src = 'https://trianglesis-org-ua.disqus.com/embed.js';
                        s.setAttribute('data-timestamp', +new Date());
                        (d.head || d.body).appendChild(s);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
            </div>
        </div>
        <div class="col">
            {% include 'blocks/tags_sidebar.html' %}
        </div>
    </div>
{% endblock %}
