{% extends "main/main.html" %}
{% load static %}
{% load humanize %}
{% load tz %}

{% block page_title %}
    {{ title }}
{% endblock %}
{% block content %}
    <div class="blog-content" style="padding-top: 30px">
        <div class="grid-col-1 blog-page-widgets-sides">
            <div class="card" style="width: 18rem;">
                <img src="/static/favicon/android-chrome-192x192.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
                <div class="card-body">
                    <a href="#" class="card-link">Card link</a>
                    <a href="#" class="card-link">Another link</a>
                </div>
            </div>

        </div>
        <div class="grid-col-center blog-post-column">
            <div class="card">
                <div class="card-header">
                    {{ object.title }}
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ object.subtitle }}</h5>
                    <p class="card-text">
                        {{ object.body|safe }}
                    </p>
                    <a href="#{{ object.slug }}" class="btn btn-sm btn-primary">Read...</a>
                </div>
                <div class="card-footer text-muted">
                    <span title="raw time: {{ object.date_created }}">Posted: {{ object.date_created|timezone:"Europe/Kyiv"|date:'N d (D) H:i'|naturaltime }}</span>
                    {% if object.tags.all %}
                        {% for tag in object.tags.all %}
                            <a href="{{ tag.name }}"><span class="badge bg-secondary">{{ tag.name }}</span></a>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="grid-col-2 blog-page-widgets-sides">
            <div class="card" style="width: 18rem;">
                <div class="card-header">Featured</div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">An item</li>
                    <li class="list-group-item">A second item</li>
                    <li class="list-group-item">A third item</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
