{% extends "main/main.html" %}
{% load user_groups %}
{% block page_title %}
    {{ title }}
{% endblock %}
{% block content %}
    {% is_member 'family' as family_user %}
    {% if family_user %}
        <div class="alert alert-dark" role="alert">
            {{ content }}
        </div>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">
                            Mobile access
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Mobile</h5>
                            <p class="card-text"></p>
                            <a href="{% url 'remotes_mobile' %}" class="btn btn-primary">Remote mobile view</a>
                        </div>
                        <div class="card-footer text-muted">2 days ago </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">
                            Web access
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">WEB</h5>
                            <p class="card-text"></p>
                            <a href="{% url 'remotes_web' %}" class="btn btn-primary">Remote WEB view</a>
                        </div>
                        <div class="card-footer text-muted">2 days ago </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-center">
                        <div class="card-header">
                            Home cameras
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Home</h5>
                            <p class="card-text"></p>
                            <a href="{% url 'remotes_cams' %}" class="btn btn-primary">All cameras</a>
                        </div>
                        <div class="card-footer text-muted">2 days ago </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <div class="alert alert-dark" role="alert">
            Nothing here.
        </div>
    {% endif %}

{% endblock %}
