{% block content %}
    <div class="card border-light" style="width: 18rem;">
        <img src="/static/favicon/android-chrome-192x192.png" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">Just my blog</h5>
            <p class="card-text">Blog about everything, mostly about tech stuff I made.
                Here is the list of stuff I'm using at my blog.
                Feel free to ask me about implementations.</p>
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex justify-content-center align-items-center">
                <a class="badge text-bg-dark"
                   style="text-decoration: none;"
                   href="https://www.python.org/">Python</a>
            </li>
            <li class="list-group-item d-flex justify-content-center align-items-center">
                <a class="badge text-bg-dark"
                   style="text-decoration: none;"
                   href="https://www.djangoproject.com/">Django</a>
            </li>
            <li class="list-group-item d-flex justify-content-center align-items-center">
                <a class="badge text-bg-dark"
                   style="text-decoration: none;"
                   href="https://docs.celeryq.dev/en/stable/">Celery</a>
            </li>
            <li class="list-group-item d-flex justify-content-center align-items-center">
                <a class="badge text-bg-dark"
                   style="text-decoration: none;"
                   href="https://getbootstrap.com/docs/5.2/getting-started/introduction/">Bootstrap</a>
            </li>
            <li class="list-group-item d-flex justify-content-center align-items-center">
                <a class="badge text-bg-dark"
                   style="text-decoration: none;"
                   href="https://prismjs.com/">prismjs</a>
            </li>
            <li class="list-group-item d-flex justify-content-center align-items-center">
                <a class="badge text-bg-dark"
                   style="text-decoration: none;"
                   href="https://disqus.com/">disqus</a>
            </li>
            <li class="list-group-item d-flex justify-content-center align-items-center">
                <a class="badge text-bg-dark"
                   style="text-decoration: none;"
                   href="https://fontawesome.com/">fontawesome</a>
            </li>
            <li class="list-group-item d-flex justify-content-center align-items-center">
                <a class="badge text-bg-dark"
                   style="text-decoration: none;"
                   href="https://primer.style/foundations/icons">octicons</a>
            </li>
            <li class="list-group-item d-flex justify-content-center align-items-center">
                <a class="badge text-bg-dark"
                   style="text-decoration: none;"
                   href="https://django-tinymce.readthedocs.io/en/latest/usage.html">tinymce</a>
            </li>
        </ul>
        <div class="card-footer">
            <a class="card-link badge text-bg-secondary" style="text-decoration: none;" href="https://github.com/trianglesis" >My Github</a>
            <a class="card-link badge text-bg-secondary" style="text-decoration: none;" href="https://www.linkedin.com/in/trianglesis/" >My LinkedIn</a>
        </div>
    </div>
{% endblock %}