{% block content %}
    <div class="card border-light" style="width: 18rem;">
        <div class="card-header">
            Py lib I recommend
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <a class="badge text-bg-secondary"
                   style="text-decoration: none;"
                   href="https://www.djangoproject.com/">Django</a>
                <span>web framework</span>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <a class="badge text-bg-secondary"
                   style="text-decoration: none;"
                   href="https://docs.celeryq.dev/en/stable/">celery</a>
                <span>multi-tasking</span>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <a class="badge text-bg-secondary"
                   style="text-decoration: none;"
                   href="https://github.com/celery/django-celery-beat">celery-beat</a>
                <span>Celery + Django</span>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <a class="badge text-bg-secondary"
                   style="text-decoration: none;"
                   href="https://pypi.org/project/django-celery-results/">celery-results</a>
                <span>Celery + Django</span>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <a class="badge text-bg-secondary"
                   style="text-decoration: none;"
                   href="https://pypi.org/project/pillow/">Pillow</a>
                <span>Python image lib</span>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <a class="badge text-bg-secondary"
                   style="text-decoration: none;"
                   href="https://modwsgi.readthedocs.io/en/master/">wsgi mod</a>
                <span>Apache + Python</span>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <a class="badge text-bg-secondary"
                   style="text-decoration: none;"
                   href="https://requests.readthedocs.io/en/latest/">requests</a>
                <span>best in WEB requests</span>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <a class="badge text-bg-secondary"
                   style="text-decoration: none;"
                   href="https://openpyxl.readthedocs.io/en/stable/">openpyxl</a>
                <span>make Excell docs</span>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <a class="badge text-bg-secondary"
                   style="text-decoration: none;"
                   href="https://www.perforce.com/manuals/p4python/Content/P4Python/python.programming.html">p4python</a>
                <span>Perforce + Python</span>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <a class="badge text-bg-secondary"
                   style="text-decoration: none;"
                   href="https://www.paramiko.org/">paramiko</a>
                <span>SSH + Python</span>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <a class="badge text-bg-secondary"
                   style="text-decoration: none;"
                   href="https://github.com/vmware/pyvmomi">pyvmomi</a>
                <span>ESXi Vcenter + Python</span>
            </li>

        </ul>
        <p class="card-text">I'm using these libraries so you can ask me about them.</p>
        <div class="card-footer text-muted">
            There are no referral links!
        </div>
    </div>
{% endblock %}