{% block content %}
    <div class="card border-light" style="width: 18rem;">
        <div class="card-header">
            Soft I recommend
        </div>
        <ul class="list-group list-group-flush">
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <a class="badge text-bg-secondary"
                   style="text-decoration: none;"
                   href="https://mobaxterm.mobatek.net/">Mobaxterm</a>
                <span> SSH RDP FTP...</span>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <a class="badge text-bg-secondary"
                   style="text-decoration: none;"
                   href="https://www.thunderbird.net/en-US/">Thunderbird</a>
                <span>Email client</span>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <a class="badge text-bg-secondary"
                   style="text-decoration: none;"
                   href="https://filezilla-project.org/">Filezilla</a>
                <span>FTP client/server</span>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <a class="badge text-bg-secondary"
                   style="text-decoration: none;"
                   href="https://www.nirsoft.net/">Nirsoft</a>
                <span>Win utils</span>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <a class="badge text-bg-secondary"
                   style="text-decoration: none;"
                   href="https://learn.microsoft.com/en-us/sysinternals/">Sysinternals</a>
                <span>Win utils</span>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <a class="badge text-bg-secondary"
                   style="text-decoration: none;"
                   href="https://pi-hole.net/">Pi-Hole</a>
                <span>AD block by DNS</span>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <a class="badge text-bg-secondary"
                   style="text-decoration: none;"
                   href="https://networkupstools.org/">NUT</a>
                <span>UPS manager</span>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <a class="badge text-bg-secondary"
                   style="text-decoration: none;"
                   href="https://xavierberger.github.io/RPi-Monitor-docs/11_installation.html">Rpi MON</a>
                <span>Raspberry monitoring</span>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <a class="badge text-bg-secondary"
                   style="text-decoration: none;"
                   href="https://www.freecad.org/">Free CAD </a>
                <span>3D modelling</span>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <a class="badge text-bg-secondary"
                   style="text-decoration: none;"
                   href="https://freecommander.com/en/summary/">Free Commander</a>
                <span>Far-like filemanager</span>
            </li>
            <li class="list-group-item d-flex align-items-center justify-content-between">
                <a class="badge text-bg-secondary"
                   style="text-decoration: none;"
                   href="https://bitwarden.com/">Bitwarden</a>
                <span>Password manager</span>
            </li>
        </ul>
        <div class="card-footer text-muted">
            There are no referral links!
        </div>
    </div>
{% endblock %}