{% load selections %}
{% load static %}
{% block content %}
    <div style="width: 18rem;">
        <div class="list-group">
            {% list_tags as all_tags %}
            {% for tag in all_tags %}
                <a class="list-group-item list-group-item-action d-flex justify-content-between align-items-start" href="{% url 'blog' %}?tag={{ tag.name }}">
                    <div class="ms-2 me-auto">
                        <div class="fw-bold">{{ tag.name }}</div>
                        {{ tag.description }}
                    </div>
                    <span class="badge bg-secondary rounded-pill">{{ tag.post_rel_tag.all.count }}</span>
                </a>
            {% endfor %}
        </div>
    </div>
{% endblock %}