## NEVER TRACK THIS FILE, ONLY CREATE ONCE
core/security.py
*security.py

.idea/
*.pyc

db.sqlite3

/static/
!/static/core/*
!/static/remotes/*

/templates/Django-and-registration/
/core.log
/dev.log
/celery.log
/y_devel/exclude_from_sharing/
/beat@layer.log
/remotes@layer.log

y_devel/CAM
y_devel/dump

*/migrations/
/x_logs/
