## NEVER TRACK THIS FILE, ONLY CREATE ONCE
core/security.py
*security.py

.idea/
*.pyc

db.sqlite3

/static/*
!static/core/
!static/remotes/
!static/favicon/

/templates/Django-and-registration/
/y_devel/exclude_from_sharing/

y_devel/CAM
y_devel/dump

*/migrations/
/x_logs/
