{% extends "main/main.html" %}
{% block page_title %}Trianglesis{% endblock %}
{% block content %}
    <div class="main-body">
        {% if error_message %}
            <div class="under-construction">
                <div class="alert alert-warning" role="alert">
                    <span><a class="txt-bold text-danger nodecor" href="https://developer.mozilla.org/en-US/docs/Web/HTTP/Status">{{ error_code }}</a></span>
                    <span>{{ error_message }}</span>
                </div>
            </div>
        {% endif %}
        <div class="under-construction">
            <div class="alert alert-info" role="alert">Last 4 posts published.</div>
        </div>
        {% comment %} Last 3 posts {% endcomment %}
        {% include 'includes/last_posts.html' %}
        <div class="under-construction">
            <div class="alert alert-warning" role="alert">
                Under construction, see <a href="{% url 'blog' %}" class="alert-link">blog</a>. Random 10 posts below.
            </div>
        </div>
        {% comment %} Random posts {% endcomment %}
        {% include 'includes/random_posts.html' %}
    </div>
{% endblock %}
