/*
General styles for all objects
*/


.main-body {
    padding-left: 10%;
    padding-right: 10%;
}


.last-posts {
    padding-top: 30px;
    padding-bottom: 30px;
}

.under-construction {
    padding-top: 30px;
    padding-bottom: 600px;
}

.break-w {
    word-break: break-word;
}