.main-body {
    padding-left: 5%;
    padding-right: 5%;
}


.last-posts {
    padding-top: 10px;
    padding-bottom: 10px;
}

.random-posts {
    padding-top: 10px;
    padding-bottom: 10px;
}

.under-construction {
    padding-top: 10px;
    padding-bottom: 10px;
}

.break-w {
    word-break: break-word;
}