{% load i18n %}
<div class="alert alert-primary" role="alert">
    {% trans 'Открытие' %}: {{ button.description }} {% trans 'пользователь' %} "{{ username }}"
</div>

<div class="card">
    <div class="card-header">{% trans 'Пользоваьтель' %}
        "{{ username }}" {% trans 'открыл:' %} {{ button.description }}</div>
    <div class="card-body">
        <p>{% trans 'Данные кнопки' %}</p>
        <ul>
            <li>{% trans 'Дом' %}: {{ button.dom }}</li>
            <li>{% trans 'Дверь' %}: {{ button.gate }}</li>
            <li>{% trans 'Тип' %}: {{ button.mode }}</li>
        </ul>
        <p>{% trans 'Вид камер' %}</p>
        <ul>
            {% for cam in button.assigned_buttons.all %}
                <li>{{ cam.description }}</li>
            {% endfor %}
        </ul>
    </div>
</div>
{% trans 'Камеры на момент открытия' %}
