{% load i18n %}
<div class="card">
    <div class="card-header">{% trans 'Користувач' %}
        "{{ username }}" {% trans 'відчинив:' %} {{ button.description }}</div>
    <div class="card-body">
        <p>{% trans 'Дані кнопки' %}: {% trans 'Дім' %}: "{{ button.dom }}" {% trans 'Двері' %}: "{{ button.gate }}" {% trans 'Тип' %}: "{{ button.mode }}"</p>
        {% if images %}
            <p>{% trans 'Камери' %}</p>
            <ul>
                {% for cam in button.assigned_buttons.all %}
                    <li>{{ cam.description }}</li>
                {% endfor %}
            </ul>
        {% endif %}
    </div>
</div>
<p>On: {{ hostname }}</p>
{% if images %}
    <p>{% trans 'Камери у момент натискання' %}</p>
{% endif %}
