{% extends "main/main.html" %}
{% load i18n %}
{% load static %}
{% load user_groups %}
{% load remote_checks %}
{% block page_title %}
    {{ objects.title }}
{% endblock %}
{% block content %}
    {% is_member 'family' as family_user %}
    {% if family_user %}
        <script type="text/javascript" data-model-name="branchWorkers">
            let perl_token = "{{ objects.perl_token }}";
            let perl_hostname = "{{ objects.perl_hostname }}";
        </script>

        {% comment %} I am so NOT WANT to make it with JS so I have to make it like this! {% endcomment %}
        {% tab_active 'all' as tab_active_all %}
        {% tab_active 'candle_lo' as candle_lo %}
        {% tab_active 'candle_up' as candle_up %}
        {% tab_active 'sport' as sport %}
        {% tab_active 'inner' as inner %}
        {% tab_active 'outer' as outer %}

        <nav class="nav nav-pills nav-justified" style="padding-bottom: 20px">
            <a {% if tab_active_all %}class="nav-link active" aria-current="page" {% else %}class="nav-link"{% endif %}
               href="{% url 'remotes_mobile' %}?role=all">All</a>
            <a {% if candle_lo %}class="nav-link active" aria-current="page" {% else %}class="nav-link"{% endif %}
               href="{% url 'remotes_mobile' %}?role=candle_lo">{% trans 'Свечка нижний уровень' %}</a>
            <a {% if candle_up %}class="nav-link active" aria-current="page" {% else %}class="nav-link"{% endif %}
               href="{% url 'remotes_mobile' %}?role=candle_up">{% trans 'Свечка верхний уровень' %}</a>
            <a {% if sport %}class="nav-link active" aria-current="page" {% else %}class="nav-link"{% endif %}
               href="{% url 'remotes_mobile' %}?role=sport">{% trans 'Спорт дворик' %}</a>
            <a {% if inner %}class="nav-link active" aria-current="page" {% else %}class="nav-link"{% endif %}
               href="{% url 'remotes_mobile' %}?role=inner">{% trans 'Внутренний двор' %}</a>
            <a {% if outer %}class="nav-link active" aria-current="page" {% else %}class="nav-link"{% endif %}
               href="{% url 'remotes_mobile' %}?role=outer">{% trans 'Внешний двор' %}</a>
        </nav>

        {% for camera in objects.cameras %}
            <div class="card mb-3" id="{{ camera.dvr }}{{ camera.cam }}">

                <img class="card-img-top camera-w-100-percent cam-refresh"
                     src="https://{{ objects.perl_hostname }}/app/cam.php?dvr={{ camera.dvr }}&cam={{ camera.cam }}"
                     data-dvr="{{ camera.dvr }}" data-cam="{{ camera.cam }}"
                     alt="{% trans camera.button.description %}">

                <div class="card-body">
                    <h5 class="card-title"><i class="fa-solid fa-video"></i> {% trans camera.description %}</h5>
                    {% if camera.button %}
                        <div class="card-body">

                            <a class="btn btn-sm btn-info run-open-gates"
                               type="button"
                               title="{% trans camera.button.description %}"
                               data-dom="{{ camera.button.dom }}"
                               data-gate="{{ camera.button.gate }}"
                               data-mode="{{ camera.button.mode }}"
                               data-nonce="{{ objects.perl_token }}"

                               target="_blank"
                               href="https://{{ objects.perl_hostname }}/app/go.php?dom={{ camera.button.dom }}&gate={{ camera.button.gate }}&mode={{ camera.button.mode }}&nonce={{ objects.perl_token }}"

                            >{% trans camera.button.description %}</a>
                        </div>
                    {% endif %}
                    <p class="card-text">
                        <small class="text-muted current-time"></small>
                        <small class="text-muted">Update 2 sec</small>
                    </p>
                </div>
            </div>
        {% endfor %}

        <!-- Cam refresh -->
        <script src="{% static 'remotes/js/cam-refresh.js' %}"></script>
        <!-- Open buttons -->
{#        <script src="{% static 'remotes/js/opener_request.js' %}"></script>#}
{#        <script src="{% static 'remotes/js/buttons.js' %}"></script>#}

    {% else %}
        <div class="alert alert-dark" role="alert">
            Nothing here.
        </div>
    {% endif %}
{% endblock %}
